[Unit]
Description=App service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/node /root/work/Node.js-Service-Deployment/app/index.js 

[Install]
WantedBy=multi-user.target