---
- hosts: server
  remote_user: ec2-user
  become: yes
  become_method: sudo

  tasks:
  - name: Update package manager
    ansible.builtin.command: sudo apt update
  
  - name: Upgrade package manager
    ansible.builtin.command: sudo apt upgrade

  - name: Install the package nodejs
    ansible.builtin.command: sudo apt install nodejs -y
  
  - name: Check Node version 
    ansible.builtin.command: node -v
  
  - name: Install npm 
    ansible.builtin.command: sudo apt install npm -y
  
  - name: Create app directory 
    ansible.builtin.command: mkdir ~/work -p

  - name: Clone project from github
    ansible.builtin.git:
      repo: https://github.com/zagani212/Node.js-Service-Deployment.git
      dest: ~/work/Node.js-Service-Deployment/

  - name: Download node modules
    ansible.builtin.command: chdir=~/work/Node.js-Service-Deployment/app npm i  
  
  - name: Copy Systemd file
    ansible.builtin.copy:
      src: ~/work/Node.js-Service-Deployment/systemd/app.service
      dest: /etc/systemd/system/app.service
      owner: root
      group: root
      mode: '0644'

  - name: Make sure a service unit is enabled
    ansible.builtin.systemd_service:
      state: enabled
      name: app.service
  
  - name: Make sure a service unit is running
    ansible.builtin.systemd_service:
      state: started
      name: app.service